* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

body{
	color:#000000;
	background-color: blue;
}

header{
	text-align: center;
	font-size: 24px;
	font-family: "Times New Roman", serif;
	background-color: white;

	margin: 5% 1% 5% 1%;
}

footer{
	text-align: right;
	font-size: 20px;
	margin: 1%;

}


.title{
	display: block;
	width: 25%;
	font-size:20px;
	text-align: center;
	position: absolute;
	right: 0px;
	top: 0px;
	border: 5px solid white;
	border-top: 0px;
	border-right: 0px;

	color:white;

}

.title.first{
	background-color: green;

}

.title.second{
	background-color: red;
}

.title.third{
	background-color: purple;
}

.base {
	padding: 50px;
	border: 5px solid white;
	float: left;
	position: relative;
	margin: 5% 1% 5% 1%;
	min-height: 200px;
	color:white;
}

.base.life{
	background-color: hotpink;
}

.base.death{
	background-color: black;
}

.base.heaven{
	background-color: orange;
}

@media (min-width: 992px){
	.base.lg-4{
		width: 31.33%;
		
	}

}

@media (min-width: 768px) and (max-width: 991px){
	.base.tb-6{
		width: 48%;
	}

	.base.tb-12{
		width: 98%;
	}

}

@media (max-width: 767px){
	.base.mb-12{
		width: 98%;
	}

}

