body{
	background-color: #643579;
	color:white;
}

#header{
	background-color: white;
	opacity: 1;
	color:white;
}

#menu{
	border: 1px solid black;
}
 
 .navbar-default .navbar-nav>li>a{
	color:white;
	opacity: 1;
	border:1px solid white;
	border-top:0px;
	opacity: .8;
	background-color: black;
}


.navbar-default .navbar-nav>li>a:hover{
	border: 1px solid black;
	background-color: purple;
	color:white;

}



#content{
	min-height: 1000px;
	background-color: white;
	color:black;

}